<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="edu.kit.ipd.sdq.modsim.hla.example"
            name="KIT SDQ HLA Example"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            id="edu.kit.ipd.sdq.modsim.hla.exampleWizard"
            name="HLA Examples"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/edu.kit.ipd.sdq.modsim.hla.example"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>Erstellung von Beispiel-Projekten</description>
      </wizard>
    </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
 
      <example
            id="edu.kit.ipd.sdq.modsim.hla.example"
            wizardID="edu.kit.ipd.sdq.modsim.hla.exampleWizard"
            pageImage="icon/NewEMFExample.gif">
         <projectDescriptor
               name="edu.kit.ipd.sdq.modsim.hla.example.restaurant"
               contentURI="examples/edu.kit.ipd.sdq.modsim.hla.example.restaurant/"
               description="Restaurant Beispiel"/>
         <projectDescriptor
               name="edu.kit.ipd.sdq.modsim.hla.example.game"
               contentURI="examples/edu.kit.ipd.sdq.modsim.hla.example.game/"
               description="Zahlen Ratespiel: Es können mehere Client-Federates gestartet werden, diese Tippen jeweils immer in mehreren Runden.
                Die RandomNumberProviderFederate generiert eine zufällige Zahl. Die Server Federate wertet das Spiel am Ende aus."/>
      </example>
      
     
    </extension>
</plugin>
